.App {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  
  margin: 0;
  width: 600px;
  background-color: rgba(137, 43, 226, 0.678);
  height: 95vh;
 
}
h1{
  color:rgba(255, 255, 255, 0.877);
}

